@page "/"
@using FairPlayShop.Common.CustomAttributes
@using Microsoft.Extensions.Localization

<PageTitle>
    @Localizer![HomeTextKey]
</PageTitle>

<h1>
    @Localizer![HomeTextKey]
</h1>

@Localizer[WelcomeTextKey, nameof(FairPlayShop)]


@code
{
    [Inject]
    public IStringLocalizer<Home>? Localizer { get; set; }

    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeText";
    [ResourceKey(defaultValue: "Welcome to {0}: A demo project testing .NET 8")]
    public const string WelcomeTextKey = "WelcomeText";
}