@using FairPlayShop.Common.CustomAttributes
@using FairPlayShop.Components.Identity
@using Microsoft.Extensions.Localization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FairPlayShop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> @Localizer![HomeTextKey]
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Manage">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <LogoutForm id="logout-form" />
                    <NavLink class="nav-link" href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                        <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> 
                        @Localizer![LogoutTextKey]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Constants.ApiRoutes.CreateMyStore">
                        <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> 
                        @Localizer![CreateMyStoreTextKey]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Constants.ApiRoutes.MyStoreList">
                        <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> 
                        @Localizer![MyStoreListTextKey]
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Register">
                        <span class="bi bi-person" aria-hidden="true"></span> 
                        @Localizer![RegisterTextKey]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Login">
                        <span class="bi bi-person-badge" aria-hidden="true"></span> 
                        @Localizer![LoginTextKey]
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
@code{
    [Inject]
    private IStringLocalizer<NavMenu>? Localizer {get;set;}
    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeTextKey";
    [ResourceKey(defaultValue: "Logout")]
    public const string LogoutTextKey = "LogoutText";
    [ResourceKey(defaultValue: "Register")]
    public const string RegisterTextKey = "RegisterText";
    [ResourceKey(defaultValue: "Login")]
    public const string LoginTextKey = "LoginText";
    [ResourceKey(defaultValue: "Create My Store")]
    public const string CreateMyStoreTextKey = "CreateMyStore";
    [ResourceKey(defaultValue:"My Store List")]
    public const string MyStoreListTextKey = "MyStoreListText";
}